/* RESET */
*{
    padding: 0;
    margin: 0;
}
*, *::before, *::after{
    box-sizing: border-box;
}
/* FIN RESET */

/* Contenedor que engloba todo el menú de accesibilidad */
.desplegable_accesibilidad{
    position: fixed;
    top: 0;
    width: 220px;
    height: 100vh;
    background: #eff1f5;
    left: -220px;
    transition: all 0.5s ease-in;
}
/* Cada uno de los iconos del menú */
.desplegable_accesibilidad img{
    width: 50px;
    display: block;
    margin: auto;
}
/* Solución temporal para hacer icono enlaces más grande */
#links_highlight img{
    width: 70px;
}
/* Texto debajo de los iconos */
.desplegable_accesibilidad p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin-bottom: auto;
}
/* Título del menú de accesibilidad */
.desplegable_accesibilidad div h3{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    text-align: center;
}
/* Botón que muestra y esconde el menú */
.boton_showhide{
    position: absolute;
    width: 70px;
    height: 64px;
    left: 220px;
    bottom: 150px;
    background: #eff1f5;
    border-radius: 0px 59px 59px 0px;
}
/* Imagen del botón que muestra y esconde el menú */
.boton_showhide img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    margin: auto;
    width: 50px;
}

/* Cada uno de los botones que cambia el estilo */
.contenedor_accesibilidad{
    margin:auto;
    margin-bottom: 15px;
    position: relative;
    width: 180px;
    height: 120px;
    display: flex;
    flex-flow: column;
    align-items: center;
    -webkit-appearance: none;
    cursor: pointer;
    background: #fff;
    border-radius: 12px;
    border: 2px solid #EFF1F5;
    transition: border-color 0.15s ease;
}
.contenedor_accesibilidad:hover{
    border-color: #00a3d6;
}
/* Estas clases se le asignan a los botones que están seleccionados (activos) */
.elemento_activo{
    outline:4px solid rgb(0, 163, 214, 0.2);
    border-color: #00a3d6;
}
.elemento_activo p, .elemento_activo img {
    filter: invert(44%) sepia(95%) saturate(613%) hue-rotate(153deg) brightness(94%) contrast(105%);
}
/* Esto es el icono Check de los botones activos */
.elemento_activo::after{
    text-rendering:geometricPrecision;
    font-family: "Font Awesome 5 Free";
    filter: invert(44%) sepia(95%) saturate(613%) hue-rotate(153deg) brightness(94%) contrast(105%); 
    font-size: 20px;
    font-weight: 700; 
    content:"\f058";
    right: 6px;
    top: 6px;
    position: absolute;
}